@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    margin: 0;
    background-color: gray;
    background: url("../image/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
.home-title {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px 10px black;
  line-height: 0;
  padding-bottom: 0px;
  margin: 14px;

}
.home-sub {
  font-size: 12px;
  padding-top: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 10px black;
  margin: 0;
}

  .navbar {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: white;
  }
  
  .logo img {
    height: 100%;
    padding-left: 10px;
  }
  
  .links {
    margin-right: 5.5vw;
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  .links li {
    margin: 0 0px;
  }
  
  .links div {
    position: relative;
    width: 10vw;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 10px;
    color: black;
    transition: background-color 0.3s ease;
    height: 7.8vh;
  }
  
  .links div:hover {
    background-color: #f2f2f2ff;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .text {
    margin-right: 10px;
  }
  
  .hamburgur-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .hamburgur-icon::before,
  .hamburgur-icon::after,
  .hamburgur-icon .middle-line {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000; /* Adjust color as needed */
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
  }
  
  .hamburgur-icon::before {
    top: 0;
  }
  
  .hamburgur-icon .middle-line {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hamburgur-icon::after {
    bottom: 0;
  }
  
  .hamburgur-icon.open::before {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburgur-icon.open .middle-line {
    opacity: 0;
  }
  
  .hamburgur-icon.open::after {
    transform: translateY(-6px) rotate(-45deg);
  }

  .inline-link {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90vh; /* Set the desired height */
  }

  .showif-desktop {
    display: block
  }
  .showif-mobile {
    display: none
  }
  @media (max-width: 1000px) {
    .showif-desktop {
      display:none
    }
    .showif-mobile {
      display: block;
    }
  }

  input {
    width: 20vw;
    height: 6.8vh;
    border-radius: 10px 0px 0 0;
    border: none;
    text-indent: 20px;
    min-width: 300px;
  }
  td {
    padding: 0px
  }
  .continue-container {
    border-radius: 0 10px 0 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Set the desired height */
  }
